StyleCop.Cache
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
*.orig
*.err
*.vcxproj
*.vcxproj.filters
*.min.js
*.min.js.map
.ntvs_analysis.dat
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*/
[Tt]est[Rr]esult*.xml
[Bb]in/
[Dd]ebug*/
[Oo]bj/
/NScriptToolSet/lib/Microsoft.CSharp.dll
/NScriptToolSet/lib/Microsoft.CSharp.pdb
/NScriptToolSet/lib/System.Core.dll
/NScriptToolSet/lib/System.Core.pdb
/NScriptToolSet/lib/System.Dynamic.dll
/NScriptToolSet/lib/System.Dynamic.pdb
/packages/dotless.1.4.0.0
/packages
/Report131207.vsp
/NScript131207.tmp.merged.etl
/Sources/CssParser/output/classes
/Sources/CssParser/output
/Sources/NScript.JSParser/output
Distrib/nScript.msi
NScript.psess
NScript141017.vspx
Performance1.psess
Test/TestWebApplication/GeneratedScripts/Sunlight.Framework.Test.ashx
Test/TestWebApplication/GeneratedScripts/Sunlight.Framework.Test.map
Test/TestWebApplication/GeneratedScripts/System.Web.Html.Tests.ashx
Test/TestWebApplication/GeneratedScripts/System.Web.Html.Tests.map
/TDSparser/TDSparser/node_modules
/TDSparser/TDSparser/*.js
/TDSparser/TDSparser/*.js.map
/TDSparser/TsParser/*.js
/TDSparser/TsParser/*.js.map
*.vspx
*.diagsession
*.psess
TDSparser/TDSparser/HammerJs.cs
*.un~
*.ide
/NScriptToolSet/lib
/NScriptToolSet/*.nupkg
/NScriptToolSet/TestStuff
/.vs/
Test/Framework/TestWebApplication/GeneratedScripts/*
/.vs/NScript/v15/Server/sqlite3/storage.ide-wal
/.vs/NScript/v15/Server/sqlite3/storage.ide-shm
/.vs/NScript/v15/Server/sqlite3/db.lock
/.vs/NScript/v15/sqlite3/storage.ide-wal
/.vs/NScript/v15/sqlite3/storage.ide-shm
/.vs/NScript/v15/sqlite3/db.lock
/.vs/NScript/DesignTimeBuild/.dtbcache
/submodules/cecil
launchsettings.json
