StyleCop.Cache
obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
[Oo]bj*/
*.sbr
*.orig
*.err
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vcxproj
*.vcxproj.filters
