StyleCop.Cache
obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
[Oo]bj*/
*.sbr
*.orig
*.err
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vcxproj
*.vcxproj.filters
/NScriptToolSet/lib/Microsoft.CSharp.dll
/NScriptToolSet/lib/Microsoft.CSharp.pdb
/NScriptToolSet/lib/System.Core.dll
/NScriptToolSet/lib/System.Core.pdb
/NScriptToolSet/lib/System.Dynamic.dll
/NScriptToolSet/lib/System.Dynamic.pdb
/packages/dotless.1.4.0.0
/packages
