<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define ProductVersion="1.1.0.0003" ?>
	<?define ToolsetDir="$(var.SolutionDir)NScriptToolset" ?>
	<?define ToolsetBinDir="$(var.SolutionDir)NScriptToolset\bin\net5.0" ?>

	<Product Id="*" Name="nScript" Language="1033" Version="$(var.ProductVersion)" Manufacturer="nScript" UpgradeCode="0a6c98fa-0f44-4eec-bf91-def0b8e463f0">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
		<MediaTemplate EmbedCab="yes" />

		<Property Id="USERITEMTEMPLATEDIR">
			<RegistrySearch Id="ItemTemplateDir" Root="HKLM" Key="Software\Microsoft\VisualStudio\11.0" Name="UserItemTemplatesLocation" Type="directory" />
		</Property>

		<Property Id="USERPROJECTTEMPLATEDIR">
			<RegistrySearch Id="ProjectTemplateDir" Root="HKLM" Key="Software\Microsoft\VisualStudio\11.0" Name="UserProjectTemplatesLocation" Type="directory" />
		</Property>

		<Feature Id="ProductFeature" Title="nScript" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<!-- Step 1: Define the directory structure -->
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="BASEINSTALLFOLDER" Name="nScript">
					<Directory Id="INSTALLFOLDER" Name="$(var.ProductVersion)">
						<Directory Id="INSTALLFOLDER_BIN" Name="bin">
							<Directory Id="INSTALLFOLDER_BIN_X86" Name="x86" />
							<Directory Id="INSTALLFOLDER_BIN_RU_RU" Name="ru-ru" />
							<Directory Id="INSTALLFOLDER_BIN_RUNTIME" Name="runtimes">
								<Directory Id="INSTALLFOLDER_BIN_RUNTIME_UNIX" Name="unix">
									<Directory Id="INSTALLFOLDER_BIN_RUNTIME_UNIX_LIB" Name="lib">
										<Directory Id="INSTALLFOLDER_BIN_UNIX_NET_CORE_APP_2_1" Name="netcoreapp2.1"/>
										<Directory Id="INSTALLFOLDER_BIN_UNIX_NET_CORE_APP_3_0" Name="netcoreapp3.0"/>
										<Directory Id="INSTALLFOLDER_BIN_UNIX_NET_CORE_5_0" Name="net5.0"/>
										<Directory Id="INSTALLFOLDER_BIN_UNIX_NET_CORE_6_0" Name="net6.0"/>
										<Directory Id="INSTALLFOLDER_BIN_UNIX_NET_STD_2_0" Name="netstandard2.0"/>
									</Directory>
								</Directory>
								<Directory Id="INSTALLFOLDER_BIN_RUNTIME_WIN" Name="win">
									<Directory Id="INSTALLFOLDER_BIN_RUNTIME_WIN_LIB" Name="lib">
										<Directory Id="INSTALLFOLDER_BIN_WIN_NET_CORE_APP_2_0" Name="netcoreapp2.0"/>
										<Directory Id="INSTALLFOLDER_BIN_WIN_NET_CORE_APP_2_1" Name="netcoreapp2.1"/>
										<Directory Id="INSTALLFOLDER_BIN_WIN_NET_CORE_APP_3_0" Name="netcoreapp3.0"/>
										<Directory Id="INSTALLFOLDER_BIN_WIN_NET_STD_2_0" Name="netstandard2.0"/>
									</Directory>
								</Directory>
								<Directory Id="INSTALLFOLDER_BIN_RUNTIME_WINX86" Name="win-x86">
									<Directory Id="INSTALLFOLDER_BIN_WIN_X86_NATIVE" Name="native"/>
								</Directory>
								<Directory Id="INSTALLFOLDER_BIN_RUNTIME_WINX64" Name="win-x64">
									<Directory Id="INSTALLFOLDER_BIN_WIN_X64_NATIVE" Name="native"/>
								</Directory>
							</Directory>
						</Directory>
						<Directory Id="INSTALLFOLDER_LIB" Name="lib" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="USERITEMTEMPLATEDIR">
				<Directory Id="ITEMTEMPLATE_BASEDIR_CSHARP" Name="Visual C#">
					<Directory Id="ITEMTEMPLATE_DIR" Name="nScript">
						<Directory Id="ITEMTEMPLATE_DIR_CLASS" Name="Class" />
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="USERPROJECTTEMPLATEDIR">
				<Directory Id="PROJECTTEMPLATE_BASEDIR_CSHARP" Name="Visual C#">
					<Directory Id="PROJECTTEMPLATE_DIR" Name="nScript" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<!-- Step 2: Add files to your installer package -->
	<Fragment>
		<ComponentGroup Id="ProductComponents">
			<Component Id="RegistryEntry" Directory="INSTALLFOLDER" Guid="{E995DA69-5D6E-4F76-979D-D86DA16189AA}">
				<RegistryKey Root="HKLM" Key="Software\NScript">
					<RegistryValue Type="string" Value="[INSTALLFOLDER]" />
				</RegistryKey>

				<RegistryKey Root="HKLM" Key="Software\WOW6432Node\NScript">
					<RegistryValue Type="string" Value="[INSTALLFOLDER]" />
				</RegistryKey>
			</Component>

			<Component Id="TargetsFileComponent" Directory="INSTALLFOLDER" Guid="{CF8FC4F5-9B73-47E2-A3C5-EFC72C4A1AEF}">
				<File Source="$(var.ToolsetDir)\NScript.CSharp.targets" />
			</Component>

			<Component Id="BinComponent" Directory="INSTALLFOLDER_BIN" Guid="{8BD2DB67-D657-490D-89F6-1B28FDBF16D5}">
				<File Source="$(var.ToolsetBinDir)\AdvancedStringBuilder.dll"/>
				<File Source="$(var.ToolsetBinDir)\Antlr3.Runtime.dll"/>
				<File Source="$(var.ToolsetBinDir)\Autoprefixer.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\Autoprefixer.dll"/>
				<File Source="$(var.ToolsetBinDir)\Autoprefixer.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\Autoprefixer.pdb"/>
				<File Source="$(var.ToolsetBinDir)\ClearScript.Core.dll"/>
				<File Source="$(var.ToolsetBinDir)\ClearScript.V8.dll"/>
				<File Source="$(var.ToolsetBinDir)\ClearScript.Windows.Core.dll"/>
				<File Source="$(var.ToolsetBinDir)\ClearScript.Windows.dll"/>
				<File Source="$(var.ToolsetBinDir)\ClearScriptV8.ICU.dat"/>
				<File Source="$(var.ToolsetBinDir)\Csc.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\Csc.dll"/>
				<File Source="$(var.ToolsetBinDir)\Csc.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\Csc.exe"/>
				<File Source="$(var.ToolsetBinDir)\Csc.pdb"/>
				<File Source="$(var.ToolsetBinDir)\Csc.runtimeconfig.json"/>
				<File Source="$(var.ToolsetBinDir)\CssParser.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\CssParser.dll"/>
				<File Source="$(var.ToolsetBinDir)\CssParser.pdb"/>
				<File Source="$(var.ToolsetBinDir)\HtmlAgilityPack.dll"/>
				<File Source="$(var.ToolsetBinDir)\JavaScriptEngineSwitcher.Core.dll"/>
				<File Source="$(var.ToolsetBinDir)\JsCsc.Lib.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\JsCsc.Lib.dll"/>
				<File Source="$(var.ToolsetBinDir)\JsCsc.Lib.pdb"/>
				<File Source="$(var.ToolsetBinDir)\mcs.dll"/>
				<File Source="$(var.ToolsetBinDir)\mcs.pdb"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.Build.Framework.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.Build.Tasks.Core.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.Build.Utilities.Core.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.CodeAnalysis.CSharp.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.CodeAnalysis.CSharp.pdb"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.CodeAnalysis.CSharp.xml"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.CodeAnalysis.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.CodeAnalysis.pdb"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.CodeAnalysis.xml"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.Extensions.DependencyInjection.Abstractions.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.Extensions.DependencyInjection.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.NET.StringTools.dll"/>
				<File Source="$(var.ToolsetBinDir)\Microsoft.Win32.SystemEvents.dll"/>
				<File Source="$(var.ToolsetBinDir)\Mono.Cecil.Private.dll"/>
				<File Source="$(var.ToolsetBinDir)\Mono.Cecil.Private.Mdb.dll"/>
				<File Source="$(var.ToolsetBinDir)\Mono.Cecil.Private.Mdb.pdb"/>
				<File Source="$(var.ToolsetBinDir)\Mono.Cecil.Private.pdb"/>
				<File Source="$(var.ToolsetBinDir)\Mono.Cecil.Private.Pdb.dll"/>
				<File Source="$(var.ToolsetBinDir)\Mono.Cecil.Private.Pdb.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NetSerializer.dll"/>
				<File Source="$(var.ToolsetBinDir)\Newtonsoft.Json.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.CLR.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.CLR.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.CLR.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.Plugins.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.Plugins.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.Plugins.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Converter.Plugins.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NScript.csc.lib.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.csc.lib.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.csc.lib.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\NScript.csc.lib.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NScript.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\NScript.exe"/>
				<File Source="$(var.ToolsetBinDir)\NScript.JSParser.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.JSParser.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.JSParser.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\NScript.JSParser.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NScript.JST.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.JST.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.JST.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NScript.pdb"/>
				<File Source="$(var.ToolsetBinDir)\NScript.runtimeconfig.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Utils.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Utils.dll"/>
				<File Source="$(var.ToolsetBinDir)\NScript.Utils.pdb"/>
				<File Source="$(var.ToolsetBinDir)\PluginConfig.xml"/>
				<File Source="$(var.ToolsetBinDir)\protobuf-net.dll"/>
				<File Source="$(var.ToolsetBinDir)\SourceMap.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\SourceMap.dll"/>
				<File Source="$(var.ToolsetBinDir)\SourceMap.pdb"/>
				<File Source="$(var.ToolsetBinDir)\System.CodeDom.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.ComponentModel.Composition.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Configuration.ConfigurationManager.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Drawing.Common.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Resources.Extensions.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Security.Cryptography.Pkcs.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Security.Cryptography.ProtectedData.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Security.Cryptography.Xml.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Security.Permissions.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.ServiceModel.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.ServiceModel.Primitives.dll"/>
				<File Source="$(var.ToolsetBinDir)\System.Windows.Extensions.dll"/>
				<File Source="$(var.ToolsetBinDir)\XwmlParser.deps.json"/>
				<File Source="$(var.ToolsetBinDir)\XwmlParser.dll"/>
				<File Source="$(var.ToolsetBinDir)\XwmlParser.dll.config"/>
				<File Source="$(var.ToolsetBinDir)\XwmlParser.pdb"/>
			</Component>
			<!--<Component Id="BinComponentX86" Directory="INSTALLFOLDER_BIN_X86" Guid="{D971F92B-CC87-4559-807E-55BA14DD944F}">
				<File Source="$(var.ToolsetBinDir)\x86\ClearScriptV8-32.dll"/>
				<File Source="$(var.ToolsetBinDir)\x86\v8-base-ia32.dll"/>
				<File Source="$(var.ToolsetBinDir)\x86\v8-ia32.dll"/>
				<File Source="$(var.ToolsetBinDir)\x86\v8-libcpp-ia32.dll"/>
			</Component>-->
			<Component Id="BinComponentRURU" Directory="INSTALLFOLDER_BIN_RU_RU" Guid="{D971F92B-CC87-4559-807E-55BA14DD945F}">
                <File Source="$(var.ToolsetBinDir)\ru-ru\JavaScriptEngineSwitcher.Core.resources.dll" />
			</Component>
			<!--<Component Id="BinComponentUnixNetCoreApp2_1" Directory="INSTALLFOLDER_BIN_UNIX_NET_CORE_APP_2_1" Guid="{D971F92B-CC87-4559-807E-55BA14DD947F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\unix\lib\netcoreapp2.1\System.Security.Principal.Windows.dll" Id="UnixCoreApp21Principal"/>
			</Component>-->
			<Component Id="BinComponentUnixNetCoreApp3_0" Directory="INSTALLFOLDER_BIN_UNIX_NET_CORE_APP_3_0" Guid="{D971F92B-CC87-4559-807E-55BA14DD948F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\unix\lib\netcoreapp3.0\System.Drawing.Common.dll" Id="UnixCoreApp31DrawingCommon"/>
			</Component>
			<Component Id="BinComponentUnixNetStd2_0" Directory="INSTALLFOLDER_BIN_UNIX_NET_STD_2_0" Guid="{D971F92B-CC87-4559-807E-55BA14DD949F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\unix\lib\netstandard2.0\System.Private.ServiceModel.dll" Id="UnixNetStd20ServiceModel"/>
			</Component>

			<!--<Component Id="BinComponentWinNetCoreApp2_0" Directory="INSTALLFOLDER_BIN_WIN_NET_CORE_APP_2_0" Guid="{D971F92B-CC87-4559-807E-55BA14DD950F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netcoreapp2.0\System.Security.AccessControl.dll" Id="WinCoreApp20AccessControl"/>
			</Component>-->
			<!--<Component Id="BinComponentWinNetCoreApp2_1" Directory="INSTALLFOLDER_BIN_WIN_NET_CORE_APP_2_1" Guid="{D971F92B-CC87-4559-807E-55BA14DD951F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netstandard2.0\System.Security.Principal.Windows.dll" Id="WinCoreApp21Principal"/>
			</Component>-->
			<Component Id="BinComponentWinNetCoreApp3_0" Directory="INSTALLFOLDER_BIN_WIN_NET_CORE_APP_3_0" Guid="{D971F92B-CC87-4559-807E-55BA14DD952F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netcoreapp3.0\Microsoft.Win32.SystemEvents.dll"  Id="CoreApp31SystemEvents"/>
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netcoreapp3.0\System.Drawing.Common.dll" Id="WinCoreApp31DrawingCommon"/>
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netcoreapp3.0\System.Security.Cryptography.Pkcs.dll" Id="WinNetCoreApp30CryptographyPkcs"/>
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netcoreapp3.0\System.Windows.Extensions.dll" Id="WindowsCoreApp30WindowsExtensions"/>
			</Component>
			<Component Id="BinComponentWinNetStd2_0" Directory="INSTALLFOLDER_BIN_WIN_NET_STD_2_0" Guid="{D971F92B-CC87-4559-807E-55BA14DD953F}">
				<!--<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netstandard2.0\Microsoft.Win32.Registry.dll" Id="NetStdRegistry"/>-->
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netstandard2.0\System.Private.ServiceModel.dll" Id="WinNetStd20ServiceModel"/>
				<File Source="$(var.ToolsetBinDir)\runtimes\win\lib\netstandard2.0\System.Security.Cryptography.ProtectedData.dll" Id="WinNetStd20ProtectedData"/>
			</Component>

			<Component Id="BinComponentWinX86Native" Directory="INSTALLFOLDER_BIN_WIN_X86_NATIVE" Guid="{D971F92B-CC87-4559-807E-55BA14DD957F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\win-x86\native\ClearScriptV8.win-x86.dll" />
			</Component>
			<Component Id="BinComponentWinX64Native" Directory="INSTALLFOLDER_BIN_WIN_X64_NATIVE" Guid="{D971F92B-CC87-4559-807E-55BA14DD958F}">
				<File Source="$(var.ToolsetBinDir)\runtimes\win-x64\native\ClearScriptV8.win-x64.dll" />
			</Component>

			<Component Id="LibComponent" Directory="INSTALLFOLDER_LIB" Guid="{D971F92B-CC87-4559-807E-55BA14DD944E}">
				<File Source="$(var.ToolsetDir)\lib\mscorlib.dll" />
				<File Source="$(var.ToolsetDir)\lib\mscorlib.pdb" />
				<File Source="$(var.ToolsetDir)\lib\System.Core.dll" />
				<File Source="$(var.ToolsetDir)\lib\System.Core.pdb" />
				<File Source="$(var.ToolsetDir)\lib\Microsoft.CSharp.dll" />
				<File Source="$(var.ToolsetDir)\lib\Microsoft.CSharp.pdb" />
				<File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.dll" />
				<File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.pdb" />
				<File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.UI.dll" />
				<File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.UI.pdb" />
				<File Source="$(var.ToolsetDir)\lib\SunlightUnit.dll" />
				<File Source="$(var.ToolsetDir)\lib\SunlightUnit.pdb" />
				<File Source="$(var.ToolsetDir)\lib\System.Web.dll" />
				<File Source="$(var.ToolsetDir)\lib\System.Web.Html.dll" />
				<File Source="$(var.ToolsetDir)\lib\System.Web.Html.pdb" />
				<File Source="$(var.ToolsetDir)\lib\System.Web.pdb" />
				<File Source="$(var.ToolsetDir)\lib\Windows.dll" />
				<File Source="$(var.ToolsetDir)\lib\Windows.pdb" />
			</Component>

			<Component Id="ItemTemplate" Directory="ITEMTEMPLATE_DIR" Guid="{09197507-B598-442C-98DC-61D6B93A2E23}">
				<File Source="$(var.ToolsetDir)\Templates\ItemTemplate\NScriptClass.zip" />
				<File Source="$(var.ToolsetDir)\Templates\ItemTemplate\NScriptTestClass.zip" />
				<File Source="$(var.ToolsetDir)\Templates\ItemTemplate\NScript_Item.VSTDIR" />
			</Component>

			<Component Id="ProjectTemplate" Directory="PROJECTTEMPLATE_DIR" Guid="{5CE3D6C7-953C-4E66-97CC-7CD9BEFD852B}">
				<File Source="$(var.ToolsetDir)\Templates\ProjectTemplate\NScript.VSTDIR" />
				<File Source="$(var.ToolsetDir)\Templates\ProjectTemplate\NScript_Application.zip" />
				<File Source="$(var.ToolsetDir)\Templates\ProjectTemplate\NScript_Windows_Application.zip" />
				<File Source="$(var.ToolsetDir)\Templates\ProjectTemplate\NScript_Library.zip" />
				<File Source="$(var.ToolsetDir)\Templates\ProjectTemplate\NScript_Test.zip" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
