<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:vs="http://schemas.microsoft.com/wix/VSExtension">
  <?define ProductVersion="1.0.0.0" ?>
  <?define ToolsetDir="$(var.SolutionDir)\Cs2JscToolset" ?>

	<Product Id="*" Name="nScript" Language="1033" Version="$(var.ProductVersion)" Manufacturer="nScript" UpgradeCode="0a6c98fa-0f44-4eec-bf91-def0b8e463f0">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <PropertyRef Id="VS2012_ITEMTEMPLATES_DIR" />
    <PropertyRef Id="VS2012_PROJECTTEMPLATES_DIR" />
    <CustomActionRef Id="VS2012InstallVSTemplates" />
      
		<Feature Id="ProductFeature" Title="nScript" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <!-- Step 1: Define the directory structure -->
  <Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="BASEINSTALLFOLDER" Name="nScript">
          <Directory Id="INSTALLFOLDER" Name="$(var.ProductVersion)">
            <Directory Id="INSTALLFOLDER_BIN" Name="bin"/>
            <Directory Id="INSTALLFOLDER_LIB" Name="lib"/>
          </Directory>
        </Directory>
			</Directory>

      <Directory Id="ITEMTEMPLATE_BASEDIR" Name="[VS2012_ITEMTEMPLATES_DIR]">
        <Directory Id="ITEMTEMPLATE_BASEDIR_CSHARP" Name="CSharp">
          <Directory Id="ITEMTEMPLATE_DIR" Name="nScript">
            <Directory Id="ITEMTEMPLATE_DIR_CLASS" Name="Class" />
          </Directory>
        </Directory>
      </Directory>
		</Directory>
	</Fragment>

  <!-- Step 2: Add files to your installer package -->
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="RegistryEntry" Directory="INSTALLFOLDER" Guid="{E995DA69-5D6E-4F76-979D-D86DA16189AA}">
        <RegistryKey Root="HKCU" Key="Cs2JsC">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]" />
        </RegistryKey>
      </Component>

      <Component Id="BinComponent" Directory="INSTALLFOLDER_BIN" Guid="{8BD2DB67-D657-490D-89F6-1B28FDBF16D5}">
        <File Source="$(var.ToolsetDir)\bin\Antlr3.Runtime.dll" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.CLR.dll" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.CLR.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.Converter.dll" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.Converter.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.exe" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.exe.config" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.JSParser.dll" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.JSParser.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.JST.dll" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.JST.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.Utils.dll" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.Utils.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.vshost.exe" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.vshost.exe.config" />
        <File Source="$(var.ToolsetDir)\bin\Cs2JsC.vshost.exe.manifest" />
        <File Source="$(var.ToolsetDir)\bin\Csc.exe" KeyPath="yes" />
        <File Source="$(var.ToolsetDir)\bin\Csc.pdb" />
        <File Source="$(var.ToolsetDir)\bin\JsCsc.Lib.dll" />
        <File Source="$(var.ToolsetDir)\bin\JsCsc.Lib.pdb" />
        <File Source="$(var.ToolsetDir)\bin\mcs.dll" />
        <File Source="$(var.ToolsetDir)\bin\mcs.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Mono.Cecil.dll" />
        <File Source="$(var.ToolsetDir)\bin\Mono.Cecil.Mdb.dll" />
        <File Source="$(var.ToolsetDir)\bin\Mono.Cecil.Mdb.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Mono.Cecil.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Mono.Cecil.Pdb.dll" />
        <File Source="$(var.ToolsetDir)\bin\Mono.Cecil.Pdb.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Newtonsoft.Json.dll" />
        <File Source="$(var.ToolsetDir)\bin\Newtonsoft.Json.pdb" />
        <File Source="$(var.ToolsetDir)\bin\Newtonsoft.Json.xml" />
        <File Source="$(var.ToolsetDir)\bin\PluginConfig.xml" />
        <File Source="$(var.ToolsetDir)\bin\SourceMap.dll" />
        <File Source="$(var.ToolsetDir)\bin\SourceMap.pdb" />
      </Component>

      <Component Id="LibComponent" Directory="INSTALLFOLDER_LIB" Guid="{D971F92B-CC87-4559-807E-55BA14DD944E}">
        <File Source="$(var.ToolsetDir)\lib\mscorlib.dll" />
        <File Source="$(var.ToolsetDir)\lib\mscorlib.pdb" />
        <File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.dll" />
        <File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.pdb" />
        <File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.UI.dll" />
        <File Source="$(var.ToolsetDir)\lib\Sunlight.Framework.UI.pdb" />
        <File Source="$(var.ToolsetDir)\lib\SunlightUnit.dll" />
        <File Source="$(var.ToolsetDir)\lib\SunlightUnit.pdb" />
        <File Source="$(var.ToolsetDir)\lib\System.Web.dll" />
        <File Source="$(var.ToolsetDir)\lib\System.Web.Html.dll" />
        <File Source="$(var.ToolsetDir)\lib\System.Web.Html.pdb" />
        <File Source="$(var.ToolsetDir)\lib\System.Web.pdb" />
      </Component>

      <Component Id="ItemTemplate" Directory="ITEMTEMPLATE_DIR_CLASS" Guid="{09197507-B598-442C-98DC-61D6B93A2E23}">
        <File Source="$(var.ToolsetDir)\Templates\ItemTemplate\Class\Cs2JsC_Class.cs" />
        <File Source="$(var.ToolsetDir)\Templates\ItemTemplate\Class\Cs2JsC_Class.vstemplate" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>