<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vm="Sunlight.Framework.UI.Test!Sunlight.Framework.UI.Test"
    xmlns:ctrl="Sunlight.Framework.UI!Sunlight.Framework.UI">
    <head>
        <style>
            .testClass
            {
                height: 10px;
            }
        </style>
    </head>
    <body>
        <skin ControlType="ctrl:UISkinableElement" DataContextType="vm:TestViewModelA">
            <div class="testClass">Test</div>
        </skin>
    </body>
</html>