<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vm="Sunlight.Framework.UI.Test!Sunlight.Framework.UI.Test"
    xmlns:ctrl="Sunlight.Framework.UI!Sunlight.Framework.UI">
    <head>
        <style>
            .testClass[t=ten] > div:hover > #i:nth-child(odd) a:nth-child(2n+1)
            {
                height: 10px;
                color: rgba(10,20,30,.4);
                transform: translate3d(10px, 40px, 10%);
            }
        </style>
    </head>
    <body>
        <skin ControlType="ctrl:UISkinableElement" DataContextType="vm:TestViewModelA">
            <div class="testClass">Test</div>
        </skin>
    </body>
</html>