<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vm="Sunlight.Framework.UI.Test!Sunlight.Framework.UI.Test"
    xmlns:ctrl="Sunlight.Framework.UI!Sunlight.Framework.UI">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <skin ControlType="vm:TestSkinableWithDomElementPart" DataContextType="vm:TestViewModelA">
            <vm:TestUIElementWithAttr id="DomPart">Test</vm:TestUIElementWithAttr>
            <vm:TestUIElement id="Part1">Test</vm:TestUIElement>
        </skin>
    </body>
</html>