<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vm="Sunlight.Framework.UI.Test!Sunlight.Framework.UI.Test"
    xmlns:ctrl="Sunlight.Framework.UI!Sunlight.Framework.UI">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            .selected {}
        </style>
    </head>
    <body>
        <skin ControlType="ctrl:ListViewItem" DataContextType="vm:TestViewModelA">
            <div class.selected="{IsSelected, Source=TemplateParent}">Te<span>st</span></div>
        </skin>
    </body>
</html>