<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vm="Sunlight.Framework.UI.Test!Sunlight.Framework.UI.Test"
    xmlns:ctrl="Sunlight.Framework.UI!Sunlight.Framework.UI">
    <head>
        <style type="text/less">
            .testClass{
                background: red;
                color: black;
            }
            .testClassDuplicate {
                color: black;
                background: red;
            }
            .testClass2 {
                font-size: 12px;
                background: red;
                color: green;
            }
            .textClass3 {
                font-size: 12px;
                line-height: 12px;
            }
        </style>
    </head>
    <body>
        <skin ControlType="ctrl:UISkinableElement" DataContextType="vm:TestViewModelA">
            <div class="testClass">sample text</div>
            <div class="testClassDuplicate">sample text</div>
            <div class="testClass2">sample text</div>
            <div class="textClass3">sample text</div>
        </skin>
    </body>
</html>