<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:vm="Sunlight.Framework.UI.Test!Sunlight.Framework.UI.Test"
    xmlns:ctrl="Sunlight.Framework.UI!Sunlight.Framework.UI">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <style>
            .black { background-color: black; color: white;}
        </style>
    </head>
    <body>
        <skin ControlType="ctrl:UISkinableElement" DataContextType="vm:TestViewModelB">
            <div class.black="{PropBool1, Mode=OneWay}" test="id">{PropStr1}</div>
        </skin>
    </body>
</html>