<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:ui="Sunlight.Framework.UI!Sunlight.Framework.UI"
      xmlns:vm="$projectname$!$rootnamespace$">
      <!-- xmlns:v="AssemblyName!ViewNamespace" -->
      <!-- xmlns:m="AssemblyName!ModelNamespace" -->
<head>
    <link rel="stylesheet" href="$safeitemrootname$View.css"/>
    <style>
    </style>
</head>
<body>
    <skin id="DefaultSkin" controltype="ui:UISkinableElement" datacontexttype="vm:$safeitemrootname$VM">
    </skin>
</body>
</html>
